.page--home {
  /* background-color: #33215a; */
  background: url("/assets/images/background-planets.jpg") center/cover no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}


.page {
  min-height: 100vh;
}
