<div class="grid grid-cols-4 items-center h-full px-24">
  @for (planet of planets; track planet.title) {
    <div class="slide">
      <div class="flex flex-col items-center relative group">
        <div class="slide-img relative rounded-full overflow-hidden">
          <img
            src="{{ planet.image }}"
            alt=""
            class="w-64 h-full object-cover transition-transform transform scale-100 group-hover:scale-105"
          />
          <div
            class="slide-img-cover absolute inset-0 bg-black opacity-0 group-hover:opacity-60 transition-opacity"
          ></div>
        </div>
        <div
          class="slide-img-cover absolute inset-0 flex flex-col items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity"
        >
          <h1 class="text-5xl font-mono font-semibold">{{ planet.title }}</h1>
          <h2 class="text-1xl font-mono">{{ planet.subtitle }}</h2>
          <button
            [routerLink]="['/game-selection/play-game']"
            type="button"
            class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 mt-2"
          >
            Accede
          </button>
        </div>
      </div>
    </div>
    }
</div>
