<!-- <form action="">
  <h1>JSExpert Angular Chat Bot</h1>
  <ng-container *ngFor="let message of messages">
    <div class="message" [ngClass]="{ 'from': message.author === 'bot',
  'to': message.author === 'user' }">
      {{ message.content }}
    </div>
  </ng-container>
  <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
  <button (click)="sendMessage()">Send</button>
</form> -->

<form class="" [formGroup]="form" (ngSubmit)="sendMessage()">
  <input class="" type="text" formControlName="message"/>
  <button class="" type="submit">Enviar</button>
</form>


