<div class="grid grid-cols-2 gap-7 mx-12 my-12 text-white">
  <div class="">
    <div class="grid grid-cols-7 mb-3">
      <h2
        class="col-span-4 mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-3xl font-heading text-white"
      >
        ¡Hola estrellita! Este es tu espacio personal para enviarme una cápsula
        al espacio.
      </h2>
      <div class="col-span-3 relative ml-4">
        <img
          src="/assets/images/star-rocket-1.png"
          alt=""
          class="img-rocket max-h-64 w-auto rounded-lg shadow-md"
        />
      </div>
    </div>
    <p class="mb-4 font-medium tracking-tight text-white xl:mb-6">
      A continuación te dejo algunas preguntas que puedes responder:
    </p>
    <ul>
      <li><span class="font-medium text-white">Frase autogenerada 1</span></li>
      <li><span class="font-medium text-white">Frase autogenerada 2</span></li>
      <li>
        <span class="font-medium text-white">Graba el tiempo que quieras!</span>
      </li>
    </ul>
    <div class="mt-4 flex gap-3">
      <a
        href="#"
        class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 mt-2"
        >¡Empieza video!</a
      >
      <a
        href="#"
        class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 mt-2"
        >Para video!</a
      >
    </div>
  </div>
  <div class="relative">
    <div
      class="border-4 border-gray-300 p-4 rounded-lg flex items-center justify-center h-full"
    >
      <img
        alt="Webcam"
        class="max-h-full w-auto rounded-lg shadow-md"
        style="
          display: block;
          -webkit-user-select: none;
          margin: auto;
          background-color: hsl(0, 0%, 90%);
          transition: background-color 300ms;
        "
        src="http://127.0.0.1:8000/videofeed/"
      />
    </div>
  </div>
</div>
